*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
body{
    background-color: rgb(189, 126, 248);
}
main{
    background-color: white;
    width: 500px;
    margin: auto;
    margin-top: 30px;
    padding: 65px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.473);
    border-radius: 6px;
}
h1{
    font-size: 2em;
    color: rgb(148, 46, 243);
}
h2{
    font-size: 1.5em;
    color: rgb(166, 88, 240);
}
p{
    font-size: 1.5em;
    color: rgb(166, 88, 240);
}
img.lado{
    float: right;
    width: 55px;
    border-radius: 6px;
    margin-top: -25px;
}
img.lado1{
    float: top;
    width: 70px;
    border-radius: 6px;
}
